In [1]:
import numpy as np 
import pandas as pd

In [10]:
df=pd.read_csv("/Users/saikarthik/Desktop/ml algorithms from scratch /feature engineering/mercedes-benz-greener-manufacturing/train.csv",usecols=["X1","X2","X3","X4","X5","X6"])

In [11]:
df.head()

  X1  X2 X3 X4 X5 X6
0  v  at  a  d  u  j
1  t  av  e  d  y  l
2  w   n  c  d  x  j
3  t   n  f  d  x  l
4  v   n  f  d  h  d

In [27]:
for i in df.columns :
    print(len(df[i].unique()))

27
44
7
4
29
12

In [29]:
pd.get_dummies(df,drop_first=True)

,X1_aa,X1_ab,X1_b,X1_c,X1_d,X1_e,X1_f,X1_g,X1_h,X1_i,...,X6_c,X6_d,X6_e,X6_f,X6_g,X6_h,X6_i,X6_j,X6_k,X6_l
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,True,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,True,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
4,False,False,False,False,False,False,False,False,False,False,...,False,True,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4204,False,False,False,False,False,False,False,False,False,False,...,False,True,False,False,False,False,False,False,False,False
4205,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,True,False,False,False,False
4206,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,True,False,False,False,False,False
4207,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
4208,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,True,False,False,False,False,False

In [30]:
pd.get_dummies(df,drop_first=True).shape

(4209, 117)

In [52]:
df["X2"].value_counts().sort_values(ascending=False).head(10)

X2
as    1659
ae     496
ai     415
m      367
ak     265
r      153
n      137
s       94
f       87
e       81
Name: count, dtype: int64

In [39]:
top10=[df["X2"].value_counts().sort_values(ascending=False).head(10).index]

In [41]:
top10

[Index(['as', 'ae', 'ai', 'm', 'ak', 'r', 'n', 's', 'f', 'e'], dtype='object', name='X2')]

[Index(['as', 'ae', 'ai', 'm', 'ak', 'r', 'n', 's', 'f', 'e'], dtype='object', name='X2')]

In [46]:
for i in top10 :
    df[i]=np.where(df["X2"]==i,1,0)

ValueError: ('Lengths must match to compare', (4209,), (10,))